/.idea/
/.vscode/
/.fleet/

/vendor/
composer.lock

/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml
.phpunit.result.cache

/coverage/
/.coverage/
clover.xml

/.php-cs-fixer.cache
.php_cs.cache

*.log
*.cache

.DS_Store
Thumbs.db
